<app-link></app-link>
<nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand logo" [routerLink]="['/menu']">La Solteca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            </ul>
            <form class="d-flex">
              <a class="btn btn-salir" [routerLink]="['/empleados']" type="submit"><i class="fas fa-chevron-left"></i> Volver</a>
            </form>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="contenedor-general">
        <!--   <div class="titulo">
              <h1>Registro de sucursales</h1>
          </div>
          <div class="agregar ">
              <a class="btn btn-agregar" href="agregarsucursal.html">Agregar sucursal <i class="icon ion-md-add"></i></a>
          </div> -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item h5"><a [routerLink]="['/empleados']">Empleados</a></li>
              <li class="breadcrumb-item active h5" aria-current="page">Agregar Empleado</li>
            </ol>
          <div class="container pt-4 d-flex justify-content-center">
              <div class="card">
                <div class="titulo">
                    <h1>Agregar empleado</h1>
                    <p>Rellene los campos para añadir un nuevo empleado</p>
                </div>
                <div class="formulario">
                    <form>
                        <div class="row">
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label class="form-label">Nombre</label>
                                    <input name="mensaje" [(ngModel)]="empleados.mensaje" type="text" class="form-control" placeholder="Ingresa el nombre de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label class="form-label">Apellidos</label>
                                    <input type="text" class="form-control" placeholder="Ingresa la dirección de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label class="form-label">Sexo</label>
                                    <input type="number" class="form-control" placeholder="Ingresa numero telefonico de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label class="form-label">Usuario</label>
                                    <input type="text" class="form-control" placeholder="Ingresa el nombre de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label class="form-label">Contraseña</label>
                                    <input type="text" class="form-control" placeholder="Ingresa la dirección de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <div class="input-group mt-4 pt-2">
                                        <label class="input-group-text unidades" for="inputGroupSelect01">Cargo</label>
                                        <select class="form-select">
                                          <option selected>Selecciona el cargo</option>
                                          <option value="1">Administrador</option>
                                          <option value="2">Vendedor</option>
                                        </select>
                                      </div>
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm col1">
                            </div>
                            <div class="col-sm col1 text-center">
                                <div class="mb-3">
                                    <div class="input-group mt-4 pt-2">
                                        <label class="input-group-text unidades" for="inputGroupSelect01">Terminal</label>
                                        <select class="form-select">
                                          <option selected>Selecciona la terminal</option>
                                          <option value="1">Terminal 1</option>
                                          <option value="2">Terminal 2</option>
                                          <option value="3">Terminal 3</option>
                                        </select>
                                      </div>
                                  </div>
                            </div>
                            <div class="col-sm col1">
                            </div>
                        </div>
                       <div class="botones">
                        <a type="button" [routerLink]="['/empleados']" class="btn-cancelar btn-lg"><i class="fas fa-times"></i> Cancelar</a>
                        <button (click)="enviar()" type="button" class="btn-registrar btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-check"></i> Registrar</button>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title fw-bold" id="exampleModalLabel">Operación exitosa</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body fw-bold">
                                 El empleado se ha agregado correctamente.
                                </div>
                                <div class="modal-footer">
                                  <a type="button" class="btn-registrar btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-check"></i> Aceptar</a>

                                </div>
                              </div>
                            </div>
                          </div>
                       </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="col-md-4">
    <div class="card-body text-center">
        <h3 class="card-title">{{empleados.mensaje}}</h3>
    </div>