<app-link></app-link>
<div class="body">
  <div class="d-flex" id="content-wrapper">
    <!-- BARRA LATERAL -->
    <div id="sidebar-container" class="">
      <div class="logo">
        <img src="../../../../assets/img/user1.png" alt="" />
        <h3 class="d-block p-1 border-0">Vendedor</h3>
        <p class="d-block p-1 border-0">Nombre Vendedor</p>
        <p class="d-block p-1 border-0">Turno</p>
      </div>
      <div class="menu">
        <a class="d-block p-3 border-0"
          ><i class="icon ion-md-cash lead mr-2"></i> Ventas</a
        >

        <a [routerLink]="['/reporte']" class="d-block p-3 border-0"
          ><i class="icon ion-md-analytics lead mr-2"></i> Reportes</a
        >

        <a class="d-block p-3 border-0"
          ><i class="icon ion-md-qr-scanner lead mr-2"></i> Imprimir</a
        >
        <a [routerLink]="['/info']" class="d-block p-3 border-0"
          ><i class="icon ion-md-information-circle-outline lead mr-2"></i> Mas
          información</a
        >
      </div>
    </div>
    <!-- FIN BARRA LATERAL -->

    <div class="w-100">
      <nav class="header">
        <div class="dato">
          <a type="button" (click)="salir()" class="btn btn-terminar"
            ><i class="fas fa-sign-out-alt"></i> Terminar Turno</a
          >
        </div>
        <div class="dato">
          <h1>Boletaje de venta</h1>
        </div>
        <div class="dato">
          <h5>Fecha: <span class="badge badge-light">00/00/00</span></h5>
        </div>
        <div class="dato">
          <h5>Hora: <span class="badge badge-light">00:00:00</span></h5>
        </div>
      </nav>

      <!-- CONTENIDO PRINCIPAL -->
      <div id="content" class="w-100">
        <div class="contenedor-general">
          <div class="container-fluid">
            <div class="row">
              <div class="col-8">
                <div class="card card-table">
                  <div class="tabla">
                    <div class="title-table">
                      <h4>Tipos de boletos</h4>
                    </div>
                    <table class="table">
                      <thead class="thead">
                        <tr>
                          <th class="columna1">Tipo</th>
                          <th *ngFor="let boleto of boletos">
                            {{ boleto.Tipo }}
                          </th>
                        </tr>
                      </thead>
                      <tr>
                        <td class="columna1">Precio</td>
                        <th *ngFor="let boleto of boletos">
                          {{ boleto.Precio }}
                        </th>
                      </tr>
                      <tr>
                        <td class="columna1">Comprados</td>
                        <th *ngFor="let boleto of boletos">
                          {{ boleto.Id_boletos }}
                        </th>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="card">
                  <div class="card-form">
                    <div class="form-title">
                      <h5>
                        Ingrese los datos del cliente para realizar la venta.
                      </h5>
                    </div>
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-4">
                          <strong>Numero de folio:</strong>
                          <span class="badge badge-danger">F31231</span>
                        </div>
                        <div class="col-4">
                          <strong>Numero de corrida</strong>
                          <span class="badge badge-danger">4</span>
                        </div>
                      </div>
                    </div>
                    <div class="container container-formulario">
                      <form>
                        <div class="row">
                          <div class="col-sm col1">
                            <label class="indicacion">Ingrese el usuario</label>
                            <input
                              name="Cliente"
                              [(ngModel)]="venta.Nombre_cliente"
                              type="text"
                              class="input1"
                              required
                            />
                          </div>
                          <div class="col-sm col1">
                            <label for="" class="indicacion">Origen</label>
                            <select
                              name="Escala"
                              class="input1"
                              [(ngModel)]="venta.Origen"
                              required
                            >
                              <option value="0" disabled selected>
                                  Seleeciona el origen
                              </option>
                              <option
                              *ngFor="let ruta of rutas"
                              value="{{ruta.Lugar}}"
                              >
                                {{ruta.Lugar}}
                              </option>
                            </select>
                          </div>
                          <div class="col-sm col1">
                            <label for="" class="indicacion">Destino</label>
                            <select
                              name="Escala"
                              class="input1"
                              [(ngModel)]="venta.Destino"
                            >
                              <option value="0" disabled selected>
                                Selecciona el destino
                              </option>
                              <option
                                value="{{ ruta.Lugar }}"
                                *ngFor="let ruta of rutas"
                                [hidden]="
                                  ruta.Lugar == venta.Origen ||
                                  venta.Origen == ''
                                "
                              >
                                {{ ruta.Lugar }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm col1">
                            <label for="" class="indicacion">Tipo</label>
                            <select
                              name="Escala"
                              class="input1"
                              [(ngModel)]="venta.Tipo"
                            >
                            <option value="0" disabled selected>
                                Selecciona el tipo
                              </option>
                              <option
                                value="{{ boleto.Tipo }}"
                                *ngFor="let boleto of boletos"
                              >
                                {{ boleto.Tipo }}
                              </option>
                            </select>
                          </div>
                          <div class="col-sm col1">
                            <label for="" class="indicacion">Escala</label>
                            <select
                              name="Escala"
                              class="input1"
                              [(ngModel)]="venta.Escala"
                            >
                              <option value="0" disabled selected>
                                Selecciona la escala
                              </option>
                              <option
                                value="{{ escala.Escala }}"
                                *ngFor="let escala of escalas"
                              >
                                {{ escala.Escala }}
                              </option>
                            </select>
                          </div>
                          <div class="col-sm col1">
                            <label for="" class="indicacion"
                              >Numero de boletos</label
                            >
                            <input
                              type="number"
                              name="Cantidad"
                              class="input1"
                              [(ngModel)]="venta.Cantidad"
                              disabled
                            />
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm col1">
                            <label for="" class="indicacion"
                              >Precio del boleto</label
                            >
                            <select
                              name="Escala"
                              class="input1"
                              [(ngModel)]="venta.Precio"
                            >
                              <option value="0" disabled selected>$$$</option>
                              <option
                                value="{{ boleto.Precio }}"
                                *ngFor="let boleto of boletos"
                                [hidden]="
                                  boleto.Tipo != venta.Tipo || venta.Tipo == ''
                                "
                              >
                                {{ boleto.Precio }}
                              </option>
                            </select>
                          </div>

                          <div class="col-sm col1">
                            <label for="" class="indicacion"
                              >Fecha de salida</label
                            >
                            <input
                              type="date"
                              name="Fecha_Salida"
                              class="input1"
                              [(ngModel)]="venta.Fecha_salida"
                            />
                          </div>
                          <div class="col-sm col1">
                            <label for="" class="indicacion"
                              >Hora de salida</label
                            >
                            <input
                              type="time"
                              name="Hora_Salida"
                              class="input1"
                              [(ngModel)]="venta.Hora_salida"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm col1">
                            <label for="" class="indicacion"
                              >Numero telefonico</label
                            >
                            <input
                              type="tel"
                              name="Telefono"
                              class="input1"
                              [(ngModel)]="venta.Telefono"
                              required
                            />
                          </div>
                          <div class="col-sm col1">
                            <label for="" class="totallabel"
                              >Numero de asientos</label
                            >
                            <input
                              type="text"
                              class="inputboletos"
                              placeholder="{{ venta.Numero_asiento }}"
                              disabled
                            />
                          </div>
                          <div class="col-sm colprecio">
                            <span class="badge badge-success">
                              <h6><strong>Total $</strong>{{total}}</h6>
                            </span>
                          </div>
                        </div>
                        <div class="alert alert-success" role="alert">
                          Se aplico un descuento de <strong>20</strong> pesos al
                          boleto de tipo estudiante
                        </div>
                        <div class="verificar">
                          <a (click)="enviar()" class="btn btn-agregar"
                            ><i class="fas fa-cart-plus"></i> Agregar boleto
                          </a>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <div class="card-bus">
                    <div class="titlebus">
                      <h5>Selecciona el asiento.</h5>
                    </div>
                    <div class="container disponibles">
                      <div class="row">
                        <div class="col">
                          <img
                            class="disponible"
                            src="../../../../assets/img/seat.png"
                            alt=""
                          />
                          <h6>Disponible</h6>
                        </div>
                        <div class="col">
                          <i class="fas fa-sync-alt" (click)="recargar()"></i>
                        </div>
                        <div class="col">
                          <img
                            class="nodisponible"
                            src="../../../../assets/img/seat.png"
                            alt=""
                          />
                          <h6>No disponible</h6>
                        </div>
                      </div>
                    </div>

                    <div class="container-autobus">
                      <div class="img-autobus">
                        <div class="containerbus">
                          <!-- Squared ONE -->
                          <div class="autobus">
                            <div class="fila">
                              <div class="seccion">
                                  <div class="asiento" *ngIf="boton1 == 0">
                                    <input
                                    type="checkbox"
                                    (click)="boton1 == 0 ? updateAsientos(1) : botons(1)"
                                    id="asiento1"
                                    name="check"
                                  />
                                  <label for="asiento1">1</label>
                                </div>
                                <div class="asiento1" *ngIf="boton1 == 2" >
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton1 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton2== 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton2 == 0 ? updateAsientos(2) : botons(1)"
                                  id="asiento2"
                                  name="check"
                                  />
                                  <label for="asiento2"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton2 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton2 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento" *ngIf="boton3 == 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton3 == 0 ? updateAsientos(3) : botons(1)"
                                    id="asiento3"
                                    name="check"
                                  />
                                  <label for="asiento3"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton3 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton3 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton4 == 0" [hidden]="asiento4  != 4">
                                  <input
                                    type="checkbox"
                                    (click)="boton4 == 0 ? updateAsientos(4) : botons(1)"
                                    id="asiento4"
                                    name="check"
                                  />
                                  <label for="asiento4"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton4 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton4 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                            </div>

                            <div class="fila">
                              <div class="seccion">
                                  <div class="asiento" *ngIf="boton1 == 0">
                                    <input
                                    type="checkbox"
                                    (click)="boton1 == 0 ? updateAsientos(1) : botons(1)"
                                    id="asiento1"
                                    name="check"
                                  />
                                  <label for="asiento1">1</label>
                                </div>
                                <div class="asiento1" *ngIf="boton1 == 2" >
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton1 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton2== 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton2 == 0 ? updateAsientos(2) : botons(1)"
                                  id="asiento2"
                                  name="check"
                                  />
                                  <label for="asiento2"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton2 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton2 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento" *ngIf="boton3 == 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton3 == 0 ? updateAsientos(3) : botons(1)"
                                    id="asiento3"
                                    name="check"
                                  />
                                  <label for="asiento3"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton3 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton3 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton4 == 0" [hidden]="asiento4  != 4">
                                  <input
                                    type="checkbox"
                                    (click)="boton4 == 0 ? updateAsientos(4) : botons(1)"
                                    id="asiento4"
                                    name="check"
                                  />
                                  <label for="asiento4"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton4 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton4 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                            </div>

                            <div class="fila">
                              <div class="seccion">
                                  <div class="asiento" *ngIf="boton1 == 0">
                                    <input
                                    type="checkbox"
                                    (click)="boton1 == 0 ? updateAsientos(1) : botons(1)"
                                    id="asiento1"
                                    name="check"
                                  />
                                  <label for="asiento1">1</label>
                                </div>
                                <div class="asiento1" *ngIf="boton1 == 2" >
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton1 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton2== 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton2 == 0 ? updateAsientos(2) : botons(1)"
                                  id="asiento2"
                                  name="check"
                                  />
                                  <label for="asiento2"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton2 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton2 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento" *ngIf="boton3 == 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton3 == 0 ? updateAsientos(3) : botons(1)"
                                    id="asiento3"
                                    name="check"
                                  />
                                  <label for="asiento3"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton3 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton3 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton4 == 0" [hidden]="asiento4  != 4">
                                  <input
                                    type="checkbox"
                                    (click)="boton4 == 0 ? updateAsientos(4) : botons(1)"
                                    id="asiento4"
                                    name="check"
                                  />
                                  <label for="asiento4"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton4 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton4 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                            </div>

                            <div class="fila">
                              <div class="seccion">
                                  <div class="asiento" *ngIf="boton1 == 0">
                                    <input
                                    type="checkbox"
                                    (click)="boton1 == 0 ? updateAsientos(1) : botons(1)"
                                    id="asiento1"
                                    name="check"
                                  />
                                  <label for="asiento1">1</label>
                                </div>
                                <div class="asiento1" *ngIf="boton1 == 2" >
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton1 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton2== 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton2 == 0 ? updateAsientos(2) : botons(1)"
                                  id="asiento2"
                                  name="check"
                                  />
                                  <label for="asiento2"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton2 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton2 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento" *ngIf="boton3 == 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton3 == 0 ? updateAsientos(3) : botons(1)"
                                    id="asiento3"
                                    name="check"
                                  />
                                  <label for="asiento3"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton3 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton3 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton4 == 0" [hidden]="asiento4  != 4">
                                  <input
                                    type="checkbox"
                                    (click)="boton4 == 0 ? updateAsientos(4) : botons(1)"
                                    id="asiento4"
                                    name="check"
                                  />
                                  <label for="asiento4"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton4 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton4 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                            </div>

                            <div class="fila">
                              <div class="seccion">
                                  <div class="asiento" *ngIf="boton1 == 0">
                                    <input
                                    type="checkbox"
                                    (click)="boton1 == 0 ? updateAsientos(1) : botons(1)"
                                    id="asiento1"
                                    name="check"
                                  />
                                  <label for="asiento1">1</label>
                                </div>
                                <div class="asiento1" *ngIf="boton1 == 2" >
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton1 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton2== 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton2 == 0 ? updateAsientos(2) : botons(1)"
                                  id="asiento2"
                                  name="check"
                                  />
                                  <label for="asiento2"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton2 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton2 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento" *ngIf="boton3 == 0">
                                  <input
                                  type="checkbox"
                                  (click)="boton3 == 0 ? updateAsientos(3) : botons(1)"
                                    id="asiento3"
                                    name="check"
                                  />
                                  <label for="asiento3"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton3 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton3 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento" *ngIf="boton4 == 0" [hidden]="asiento4  != 4">
                                  <input
                                    type="checkbox"
                                    (click)="boton4 == 0 ? updateAsientos(4) : botons(1)"
                                    id="asiento4"
                                    name="check"
                                  />
                                  <label for="asiento4"></label>
                                </div>
                                <div class="asiento1" *ngIf="boton4 == 2">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                                <div class="asiento3" *ngIf="boton4 == 1">
                                  <input type="checkbox" checked disabled />
                                  <label></label>
                                </div>
                              </div>
                            </div>

                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento21"
                                    name="check"
                                  />
                                  <label for="asiento21"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento22"
                                    name="check"
                                  />
                                  <label for="asiento22"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento23"
                                    name="check"
                                  />
                                  <label for="asiento23"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento24"
                                    name="check"
                                  />
                                  <label for="asiento24"></label>
                                </div>
                              </div>
                            </div>
                            
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento25"
                                    name="check"
                                  />
                                  <label for="asiento25"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento26"
                                    name="check"
                                  />
                                  <label for="asiento26"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento27"
                                    name="check"
                                  />
                                  <label for="asiento27"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento28"
                                    name="check"
                                  />
                                  <label for="asiento28"></label>
                                </div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento29"
                                    name="check"
                                  />
                                  <label for="asiento29"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento30"
                                    name="check"
                                  />
                                  <label for="asiento30"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento31"
                                    name="check"
                                  />
                                  <label for="asiento31"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento32"
                                    name="check"
                                  />
                                  <label for="asiento32"></label>
                                </div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento33"
                                    name="check"
                                  />
                                  <label for="asiento33"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento34"
                                    name="check"
                                  />
                                  <label for="asiento34"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento35"
                                    name="check"
                                  />
                                  <label for="asiento35"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento36"
                                    name="check"
                                  />
                                  <label for="asiento36"></label>
                                </div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento37"
                                    name="check"
                                  />
                                  <label for="asiento37"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento38"
                                    name="check"
                                  />
                                  <label for="asiento38"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento39"
                                    name="check"
                                  />
                                  <label for="asiento39"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento40"
                                    name="check"
                                  />
                                  <label for="asiento40"></label>
                                </div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento41"
                                    name="check"
                                  />
                                  <label for="asiento41"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento42"
                                    name="check"
                                  />
                                  <label for="asiento42"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento43"
                                    name="check"
                                  />
                                  <label for="asiento43"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento44"
                                    name="check"
                                  />
                                  <label for="asiento44"></label>
                                </div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento45"
                                    name="check"
                                  />
                                  <label for="asiento45"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento46"
                                    name="check"
                                  />
                                  <label for="asiento46"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento47"
                                    name="check"
                                  />
                                  <label for="asiento47"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento48"
                                    name="check"
                                  />
                                  <label for="asiento48"></label>
                                </div>
                              </div>
                            </div>
                            <div class="fila">
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento49"
                                    name="check"
                                  />
                                  <label for="asiento49"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento50"
                                    name="check"
                                  />
                                  <label for="asiento50"></label>
                                </div>
                              </div>
                              <div class="seccion">
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento51"
                                    name="check"
                                  />
                                  <label for="asiento51"></label>
                                </div>
                                <div class="asiento">
                                  <input
                                    type="checkbox"
                                    value="None"
                                    id="asiento52"
                                    name="check"
                                  />
                                  <label for="asiento52"></label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
