<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
<app-header-void></app-header-void>
    <div class="container ">
        <div class="contenedor-general">
        <!--   <div class="titulo">
              <h1>Registro de sucursales</h1>
          </div>
          <div class="agregar ">
              <a class="btn btn-agregar" href="agregarsucursal.html">Agregar sucursal <i class="icon ion-md-add"></i></a>
          </div> -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item h5"><a [routerLink]="['/sucursal']">Sucursales</a></li>
              <li class="breadcrumb-item active h5" aria-current="page">Agregar Sucursal</li>
            </ol>
          <div class="container pt-4 d-flex justify-content-center">
              <div class="card">
                <div class="titulo">
                    <h1>Agregar sucursal</h1>
                    <p>Rellene los campos para añadir una sucursal</p>
                </div>
                <div class="formulario">
                    <form action="">
                        <div class="row">
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresa el nombre de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresa la dirección de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Teléfono</label>
                                    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Ingresa numero telefonico de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Director</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresa el nombre de la terminal" aria-describedby="emailHelp">
                                  </div>
                            </div>
                            <div class="col-sm col1">
                                <div class="mb-3">
                                    <div class="input-group mt-4 pt-2">
                                        <label class="input-group-text unidades" for="inputGroupSelect01">Unidades</label>
                                        <select class="form-select" id="inputGroupSelect01">
                                          <option selected>Selecciona el numero de unidades</option>
                                          <option value="1">Autobuses</option>
                                          <option value="2">Suburbans</option>
                                          <option value="3">Ambas</option>
                                        </select>
                                      </div>
                                  </div>
                            </div>
                        </div>
                       <div class="botones">
                        <a type="button" [routerLink]="['/sucursal']" class="btn-cancelar btn-lg"><i class="fas fa-times"></i> Cancelar</a>
                        <button type="button" class="btn-registrar btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-check"></i> Registrar</button>
                        
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title fw-bold" id="exampleModalLabel">Operación exitosa</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body fw-bold">
                                 La sucursal se ha registrado correctamente
                                </div>
                                <div class="modal-footer">
                                  <a type="button" [routerLink]="['/sucursal']" class="btn-registrar btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-check"></i> Aceptar</a>

                                </div>
                              </div>
                            </div>
                          </div>
                       </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
       

    </div>