<app-link></app-link>
<app-header-opciones></app-header-opciones>

    <!-- CONTENIDO PRINCIPAL -->
    <div class="container-fluid">
      <div class="contenedor-general">
        <div class="titulo">
          <h1>Registro de empleados</h1>
        </div>
        <div class="agregar">
          <a class="btn btn-agregar" [routerLink]="['/empleados/form']"
            >Agregar empleado <i class="icon ion-md-add"></i
          ></a>
        </div>
        <div class="container-fluid pt-4">
          <div class="card">
            <table class="table">
              <thead class="card-header">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Sexo</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Contraseña</th>
                  <th scope="col">Terminal</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Opciones</th>
                </tr>
              </thead>
              <tbody class="card-body">
                <tr>
                  <th scope="row">Nombre</th>
                  <td>Apellidos</td>
                  <td>Sexo</td>
                  <td>Usuario</td>
                  <td>Contraseña</td>
                  <td>Terminal</td>
                  <td>Cargo</td>
                  <td>
                    <div class="d-grid gap-1 d-md-block">
                      <a
                        class="btn-editar"
                        [routerLink]="['/empleados/form']"
                        type="button"
                        ><i class="fas fa-pen"></i
                      ></a>
                      <a class="btn-eliminar" type="button"
                        ><i class="fas fa-trash"></i
                      ></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>