<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
     <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/administrador/menu.html">La Solteca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link opcion" href="/administrador/menu.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link opcion" href="../empleados/tablaempleados.html">Empleados</a>
              </li>
              <li class="nav-item item">
                <a class="nav-link opcion" href="#">Estadisticas</a>
              </li>
            </ul>
            <form class="d-flex">
              <a class="btn btn-salir" href="../../login.html" type="submit"><i class="fas fa-sign-out-alt"></i> Salir</a>       
                 </form>
          </div>
        </div>
      </nav>
    <div class="container ">
        <!-- 3 TARJETAS DE ESTADISTICAS -->
      <div class="tajetas-estadisticas">
        <div class="titulo">
            <h1>Estadisticas de la empresa</h1>
        </div>
        <div class="tarjetas">
            <div class="row">
                <div class="col ">
                 <div class="card mb-3 carta" >
                     <div class="row g-0">
                       <div class="col-md-4 img-card align-middle">
                              <img src="../../../../../assets/img/empleado.png" class="img-fluid" alt="...">
                       </div>
                       <div class="col-md-8 info-card">
                         <div class="card-body  ">
                           <h4 class="card-title">Empleado del mes</h4>
                           <p class="card-text ">Nombre Empleado</p>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="col ">
                     <div class="card mb-3 carta" >
                         <div class="row g-0">
                           <div class="col-md-4 img-card align-middle">
                                  <img src="../../../../../assets/img/precios.png" class="img-fluid" alt="...">
                           </div>
                           <div class="col-md-8 info-card">
                             <div class="card-body  ">
                               <h4 class="card-title">Ventas totales del mes</h4>
                               <p class="card-text ">Ventas</p>
                             </div>
                           </div>
                         </div>
                       </div>
             </div>
                <div class="col ">
                     <div class="card mb-3 carta" >
                         <div class="row g-0">
                           <div class="col-md-4 img-card align-middle">
                                  <img src="../../../../../assets/img/ruta.png" class="img-fluid" alt="...">
                           </div>
                           <div class="col-md-8 info-card">
                             <div class="card-body  ">
                               <h4 class="card-title">Ruta mas popular</h4>
                               <p class="card-text ">Oaxaca - Costa</p>
                             </div>
                           </div>
                         </div>
                       </div>
                </div>
            </div>
        </div>
      </div>

       <!-- REPORTE POR SUCURSAL -->
       <div class="reporte-sucursal">
        <div class="card card-reportes text-center">
            <div class="card-body">
                <h4 class="card-title">Ingrese las fechas para generar el reporte por sucursal</h4>
                <div class="inputs">
                    <div class="row">
                      <div class="col-sm col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      <div class="col-sm col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      <div class="col-sm col2 ">
                        <label for="inputState" class="form-label ">Selecciona la sucursal</label>
                        <select id="inputState" class="form-select">
                          <option selected>Selección la sucursal</option>
                          <option>Sucursal 1</option>
                          <option>Sucursal 2</option>
                          <option>Sucursal 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <a [routerLink]="['/sucursal/reporte-sucursal']" class="btn btn-buscar"><i class="fas fa-search"></i> Buscar  </a>
            </div>
          </div>
       </div>

       <div class="reporte-sucursal">
        <div class="card card-reportes text-center">
            <div class="card-body">
                <h4 class="card-title">Ingrese las fechas para generar el reporte por sucursal</h4>
                <div class="inputs">
                    <div class="row justify-content-center">
                      <div class="col-4 col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      <div class="col-4 col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      
                    </div>
                  </div>
                <a [routerLink]="['/sucursal/reporte-general']" class="btn btn-buscar"><i class="fas fa-search"></i> Buscar  </a>
            </div>
          </div>
       </div>
    </div>
