<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
<app-header-opciones></app-header-opciones>
    <div class="container ">
        <!-- 3 TARJETAS DE ESTADISTICAS -->
      <div class="tajetas-estadisticas">
        <div class="titulo">
            <h1>Estadisticas de la empresa</h1>
        </div>
        <div class="tarjetas">
            <div class="row">
                <div class="col ">
                 <div class="card mb-3 carta" >
                     <div class="row g-0">
                       <div class="col-md-4 img-card align-middle">
                              <img src="../../../../../assets/img/empleado.png" class="img-fluid" alt="...">
                       </div>
                       <div class="col-md-8 info-card">
                         <div class="card-body  ">
                           <h4 class="card-title">Empleado del mes</h4>
                           <p class="card-text ">Nombre Empleado</p>
                         </div>
                       </div>
                     </div>
                   </div>
                </div>
                <div class="col ">
                     <div class="card mb-3 carta" >
                         <div class="row g-0">
                           <div class="col-md-4 img-card align-middle">
                                  <img src="../../../../../assets/img/precios.png" class="img-fluid" alt="...">
                           </div>
                           <div class="col-md-8 info-card">
                             <div class="card-body  ">
                               <h4 class="card-title">Ventas totales del mes</h4>
                               <p class="card-text ">Ventas</p>
                             </div>
                           </div>
                         </div>
                       </div>
             </div>
                <div class="col ">
                     <div class="card mb-3 carta" >
                         <div class="row g-0">
                           <div class="col-md-4 img-card align-middle">
                                  <img src="../../../../../assets/img/ruta.png" class="img-fluid" alt="...">
                           </div>
                           <div class="col-md-8 info-card">
                             <div class="card-body  ">
                               <h4 class="card-title">Ruta mas popular</h4>
                               <p class="card-text ">Oaxaca - Costa</p>
                             </div>
                           </div>
                         </div>
                       </div>
                </div>
            </div>
        </div>
      </div>

       <!-- REPORTE POR SUCURSAL -->
       <div class="reporte-sucursal">
        <div class="card card-reportes text-center">
            <div class="card-body">
                <h4 class="card-title">Ingrese las fechas para generar el reporte por sucursal</h4>
                <div class="inputs">
                    <div class="row">
                      <div class="col-sm col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      <div class="col-sm col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      <div class="col-sm col2 ">
                        <label for="inputState" class="form-label ">Selecciona la sucursal</label>
                        <select id="inputState" class="form-select">
                          <option selected>Selección la sucursal</option>
                          <option>Sucursal 1</option>
                          <option>Sucursal 2</option>
                          <option>Sucursal 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <a [routerLink]="['/sucursal/reporte-sucursal']" class="btn btn-buscar"><i class="fas fa-search"></i> Buscar  </a>
            </div>
          </div>
       </div>

       <div class="reporte-sucursal">
        <div class="card card-reportes text-center">
            <div class="card-body">
                <h4 class="card-title">Ingrese las fechas para generar el reporte por sucursal</h4>
                <div class="inputs">
                    <div class="row justify-content-center">
                      <div class="col-4 col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      <div class="col-4 col2">
                        <label for="">Selecciona la fecha inicial</label>
                        <input type="date" id="start" name="trip-start">
                      </div>
                      
                    </div>
                  </div>
                <a [routerLink]="['/sucursal/reporte-general']" class="btn btn-buscar"><i class="fas fa-search"></i> Buscar  </a>
            </div>
          </div>
       </div>
    </div>
