<nav>
    <a href="/" class="nav-enlace">La Solteca</a>
</nav>
<div class="container">
    <div class="general">
        <div class="imagen">
            <div class="fondo-blanco">
            </div>
        </div>
        <div class="info">
            <div class="encabezado">
                <h1 class="titulo">La Solteca</h1>
                <h3 class="iniciar">Iniciar Sesión</h3>
                <p class="text">Ingresa tus datos para ingresar al sistema.</p>
            </div>
            <div class="formulario">
                <form>
                    <div class="campos">
                        <label for="">Ingresa tu nombre del usuario</label>
                        <input class="usuario" name="user" type="text" placeholder="Nombre de usuario" [(ngModel)]="login.user">
                    </div>
                    <div class="campos">
                        <label for="">Ingresa tu contraseña</label>
                        <input class="contraseña" name="pass" type="password" placeholder="*************" [(ngModel)]="login.pass">
                    </div>
                    <div class="campos">
                        <label for="">Selecciona la terminal</label>
                        <select name="option" id="" class="elige">
                        <option value="disabled selected">Elige tu sucursal</option>
                        <option value="1">Opcion 1</option>
                        <option value="2">Opcion 2</option>
                        <option value="3">Opcion 3</option>
                    </select>
                    </div>
                    <div class="boton">
                        <button class="btn btn-ingresar" (click)="loginUsuario()">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>