<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/administrador/menu.html">La Solteca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
            </ul>
            <form class="d-flex">
              <button class="btn btn-salir" type="submit"><i class="fas fa-chevron-left"></i> <a href="estadisticas.html"> Volver</a></button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container pt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item h5"><a href="estadisticas.html">Estadisticas</a></li>
            <li class="breadcrumb-item active h5" aria-current="page">Estadisticas de sucursal</li>
          </ol>
      </div>
      
      <!-- CONTENIDO PRINCIPAL -->
      <div class="container-fluid ">
          
          <div class="contenedor-general">
            <div class="titulo">
                <h1>Estadísticas de la sucursal: XXXXX</h1>
            </div>
            
            <div class="container-fluid pt-4">
                <div class="card">
                    <table class="table">
                        <thead class="card-header">
                          <tr>
                            <th scope="col">Sucursal</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col">Ruta</th>
                            <th scope="col">T. boletos vendidos</th>
                            <th scope="col">Vendedor</th>
                            <th scope="col">Cantidad vendida</th>
                          </tr>
                        </thead>
                        <tbody class="card-body">
                          <tr>
                            <th scope="row">Nombre</th>
                            <td>Apellidos</td>
                            <td>Sexo</td>
                            <td>Usuario</td>
                            <td>Contraseña</td>
                            <td>Terminal</td>
                            <td>Cargo</td>
                           
                          </tr>
                         
                        
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
         

      </div>