<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
<app-header-opciones></app-header-opciones>
      <!-- CONTENIDO PRINCIPAL -->
      <div class="container ">
          <div class="contenedor-general">
            <div class="titulo">
                <h1>Registro de sucursales</h1>
            </div>
            <div class="agregar ">
                <a class="btn btn-agregar" [routerLink]="['/sucursal/form']">Agregar sucursal <i class="icon ion-md-add"></i></a>
            </div>
            <div class="container pt-4">
                <div class="card">
                    <table class="table">
                        <thead class="card-header">
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Ubicación</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Director</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody class="card-body">
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>
                                <div class="d-grid gap-1 d-md-block">
                                    <a class="btn-editar " [routerLink]="['/sucursal/form']" type="button"><i class="fas fa-pen"></i></a>
                                    <a class="btn-eliminar " href="" type="button"><i class="fas fa-trash"></i></a>
                                  </div>
                            </td>
                          </tr>
                         
                        
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
         

      </div>