<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
<app-header-opciones></app-header-opciones>
      <!-- CONTENIDO PRINCIPAL -->
      <div class="container ">
          <div class="contenedor-general">
            <div class="titulo">
                <h1>Precios de boletos</h1>
            </div>
            <div class="agregar ">
                <a class="btn btn-agregar" [routerLink]="['/precios/form']">Agregar boleto <i class="icon ion-md-add"></i></a>
            </div>
            <div class="container pt-4">
                <div class="card">
                    <table class="table">
                        <thead class="card-header">
                          <tr>
                            <th scope="col">Tipo de boleto</th>
                            <th scope="col">Precio de boleto</th>
                            <th scope="col">Precio con descuento</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody class="card-body">
                          <tr>
                            <th scope="row">Tipo</th>
                            <td>Precio de boleto</td>
                            <td>Precio con descuento</td>
                            <td>
                                <div class="d-grid gap-1 d-md-block">
                                    <a class="btn-editar " [routerLink]="['/precios/form']" type="button"><i class="fas fa-pen"></i></a>
                                    <a class="btn-eliminar" type="button"><i class="fas fa-trash"></i></a>
                                  </div>
                            </td>
                          </tr>
                         
                        
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
         

      </div>