<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/administrador/menu.html">La Solteca</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link opcion" href="/administrador/menu.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link opcion" href="../empleados/tablaempleados.html">Empleados</a>
              </li>
              <li class="nav-item item">
                <a class="nav-link opcion" href="../estadisticas/estadisticas.html">Estadisticas</a>
              </li>
            </ul>
            <form class="d-flex">
              <button class="btn btn-salir" type="submit"><i class="icon ion-md-sync"></i> <a href="../../login.html">Salir</a></button>
            </form>
          </div>
        </div>
      </nav>
      <!-- CONTENIDO PRINCIPAL -->
      <div class="container ">
          <div class="contenedor-general">
            <div class="titulo">
                <h1>Precios de boletos</h1>
            </div>
            <div class="agregar ">
                <a class="btn btn-agregar" [routerLink]="['/precios/form']">Agregar boleto <i class="icon ion-md-add"></i></a>
            </div>
            <div class="container pt-4">
                <div class="card">
                    <table class="table">
                        <thead class="card-header">
                          <tr>
                            <th scope="col">Tipo de boleto</th>
                            <th scope="col">Precio de boleto</th>
                            <th scope="col">Precio con descuento</th>
                            <th scope="col">Opciones</th>
                          </tr>
                        </thead>
                        <tbody class="card-body">
                          <tr>
                            <th scope="row">Tipo</th>
                            <td>Precio de boleto</td>
                            <td>Precio con descuento</td>
                            <td>
                                <div class="d-grid gap-1 d-md-block">
                                    <a class="btn-editar " href="editarprecio.html" type="button"><i class="fas fa-pen"></i></a>
                                    <a class="btn-eliminar " href="" type="button"><i class="fas fa-trash"></i></a>
                                  </div>
                            </td>
                          </tr>
                         
                        
                        </tbody>
                      </table>
                </div>
            </div>
          </div>
         

      </div>