<!-- Estilos  -->
<app-link></app-link>
<!-- BARRA DE NAVEGACION -->
<app-header-opciones></app-header-opciones>
<!-- CONTENIDO PRINCIPAL -->
<div class="container">
    <div class="container-menu">
        <div class=" container-cartas">
            <div class="row justify-content-center">
                <div class="col-sm text-center">
                    <div class="card card-menu text-center">
                        <div class="imagen-card">
                            <img src="../../../../assets/img/sucursal1.png" class="card-img-top img-fluid" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title titulo-menu">Registro de taquilla</h5>
                            <a [routerLink]="['/sucursal']" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card card-menu text-center">
                        <div class="imagen-card">
                            <img src="../../../../assets/img/empleados.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title titulo-menu">Registro de usuarios</h5>
                            <a [routerLink]="['/empleados/form']" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card card-menu text-center">
                        <div class="imagen-card">
                            <img src="../../../../assets/img/empleado.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title titulo-menu">Ver <br> empleados</h5>
                            <a [routerLink]="['/empleados']" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center p-4">
                <div class="col-4">
                    <div class="card card-menu text-center">
                        <div class="imagen-card">
                            <img src="../../../../assets/img/estadisticas.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title titulo-menu">Estadisticas</h5>
                            <a [routerLink]="['/estadisticas']" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-menu text-center">
                        <div class="imagen-card">
                            <img src="../../../../assets/img/precios.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title titulo-menu">Precios</h5>
                            <a [routerLink]="['/precios']" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="row justify-content-around text-center">
          <div class="col-sm">
            <div class="card card-menu text-center" >
                <div class="imagen-card">
                    <img src="/img/sucursal1.png" class="card-img-top img-fluid" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title titulo-menu">Registro de sucursales</h5>
                  <a href="#" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card card-menu text-center" >
                <div class="imagen-card">
                    <img src="/img/empleados.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title titulo-menu">Registro de usuarios</h5>
                  <a href="#" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card card-menu text-center" >
                <div class="imagen-card">
                    <img src="/img/empleado.png" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                  <h5 class="card-title titulo-menu">Ver <br> empleados</h5>
                  <a href="#" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                </div>
              </div>
          </div>
        </div>
        <div class="row justify-content-center p-4">
            <div class="col-4">
                <div class="card card-menu text-center" >
                    <div class="imagen-card">
                        <img src="/img/estadisticas.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title titulo-menu">Estadisticas</h5>
                      <a href="#" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card card-menu text-center" >
                    <div class="imagen-card">
                        <img src="/img/precios.png" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title titulo-menu">Precios</h5>
                      <a href="#" class="btn btn-ir-menu">Ir <i class="icon ion-md-arrow-round-forward"></i></a>
                    </div>
                  </div>
            </div>
          </div> -->
    </div>