/*ESTILOS BOTONES*/

.btn {
    width: 150px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 20px;
}

.btn-salir {
    background-color: #e71d19;
    color: #ffffff;
}

.btn-salir:hover {
    color: #ffffff;
    background-color: #f8130f;
}

.btn-ir-menu {
    background-color: #5254c2;
    color: #ffffff;
}

.btn-ir-menu:hover {
    background-color: #4445af;
    color: #ffffff;
}

/*ESTILOS MENU PRINCIPAL*/

.container {
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.container-menu {
    width: 100%;
    text-align: center;
    margin-left: 5%;
}

.card-menu {
    width: 15rem;
    height: 20rem;
    text-align: center;
    padding: 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.15);
}

.icon-menu {
    text-align: center;
    width: 100px;
}

.imagen-card img {
    padding: 5px;
    width: 140px;
}

.titulo-menu {
    font-weight: 700;
    font-size: 25px;
}